.row
  %fieldset
    %legend= t("home.report")
    - 3.times do
      .columns.large-4.medium-4.small-12
        %center
          %a.th{ href: "javascript:" }
            %img{ src: "http://placehold.it/300x300" }
.row
  %fieldset
    %legend= t("home.search")
    - 2.times do
      .columns.large-6.medium-6.small-12
        %center
          %a.th{ href: "javascript:" }
            %img{ src: "http://placehold.it/300x300" }
