%h3= t("home.report")
%hr
.row
  - 3.times do
    .columns.large-4.medium-4.small-12
      %center
        %a.th{ href: "javascript:" }
          %img{ src: "http://placehold.it/300x300" }
%h3= t("home.search")
%hr
.row
  - 2.times do
    .columns.large-6.medium-6.small-12
      %center
        %a.th{ href: "javascript:" }
          %img{ src: "http://placehold.it/300x300" }
